/Doc
/Library
/LocalCache
/Log
/Temp
/obj
*.sln
*.sln.DotSettings.user
*.suo
*.userprefs
*.booproj
*.csproj
*.unityproj
*.apk
*.sublime-*
*.pidb
*.pidb.*
*.rar
*.zip
*.log
Thumb.db
Thumbs.db
Thumb.db.*
Thumbs.db.*
_Temporary storage.log
.DS_Store
.idea
.vscode
*.meta